{% extends "suit/suit.html" %}
{% load attachment_format %}
{% block title %}文档信息修改{% endblock %}



{% block content %}
<div class="container">
    <form action='/backend/edit/{{ id }}/' method='POST' enctype="multipart/form-data">{% csrf_token %}
    <div class="G_head_title">
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th colspan="2" style="text-align:center">文档信息修改</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>文档名称</td>
                    <td>{{ form.docname }}
                    {% if form.errors %}
                    <span  style="color:red;">{{ form.errors.docname }}</span>
                    {% endif %}
                    </td>
                </tr>
            </tbody>
        </table>
 
        <div class="form-group">
            <label for="name">文档描述</label>
			<div>{{ form.description }}</div>
        </div>
        {% if form.errors %}
        <label  style="color:red;">{{ form.errors.description }}</label>
        {% endif %} 
        
        <table class="table table-striped table-bordered" >
          	<tr>
          		<td>上传文档附件</td>
          	</tr>
          	<tr>
          		<td><div>{{ form.attachment }}</div>
	          	{% if form.errors %}
		        	<label  style="color:red;">{{ form.errors.attachment }}</label>
		        {% endif %}</td>
          	</tr>
        </table>
        
        <div class="form-group">
        <input type='submit' value='修改' class="btn btn-primary btn-lg btn-block" role="button"/><label style="color:red;">{{ status }}</label>  
    	</div>
    	
    	{% if form.errors %}
    	<div class="alert alert-danger">
    		<div class="form-group has-error">
    			<div class="help-block">{{ form.errors }}</div>
    		</div>
    	</div>
    	{% endif %}
    	
    </form>
</div>
{% endblock %}

{% block user %}{{ UserName }}{% endblock %}